<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Federazione Sport</title>
    <link rel="stylesheet" href="/css/formNewTeam.css" />
    <link rel="stylesheet" href="/css/shared.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Teko:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-color">
    <a class="navbar-brand" href="/">FederazioneSport</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item" th:if="${userDetails}"> <!-- se l'utente è loggato' -->
                <a class="nav-link" href="/allTeams">Squadre</a>
            </li>
             <li class="nav-item" th:if="${admin}"> <!-- se l'utente è admin-->
                <a class="nav-link" href="/admin/formNewTeam">Aggiungi Squadra</a>
            </li>
            <li class="nav-item" th:if="${president}"> <!-- se l'utente è presidente-->
                <a class="nav-link" href="#">La mia Squadra</a>
            </li>
            <li class="nav-item" th:if="${userDetails}"> <!-- se l'utente è loggato-->
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item" th:unless="${userDetails}"> <!-- se l'utente non è loggato' -->
                <a class="nav-link" href="/login">Login</a>
            </li>
        </ul>
    </div>
</nav>
<body>
	<!-- SE L'UTENTE E' LOGGATO -->
	<div class="main-container" th:if="${userDetails}">
		<div class="form-container">
			 <form th:action="@{/admin/newTeam}" method="POST">
				<h1 style="color: rgb(221, 239, 114)!important; text-align: center;">Modifica la Squadra</h1>
				<label style="font-weight: bolder;">Nome:</label>
                <input type="text" th:field="${team.name}" class="input-text form-control">
                <label style="font-weight: bolder;">Anno di Fondazione:</label>
                <input type="date" th:field="${team.foundingYear}" class="input-text form-control">
                <label style="font-weight: bolder;">Indirizzo Sede:</label>
                <input type="text" th:field="${team.address}" class="input-text form-control">
                <div th:if="${team.president}">
					<h6>Presidente: <span th:text="${team.president.name} + '' + ${team.president.lastname}"></span></h6>
				</div>
                <div th:unless="${team.president}">
					<label style="font-weight: bolder;">Aggiungi o cambia presidente</label>
					<div th:if="${presidents}">
						<ul th:each="president : ${presidents}">
							<li> 
								<p th:text="${president.name} + ' ' + ${president.lastname}"></p>
								<a th:href="@{'/admin/setPresidentToTeam/'+ ${president.id}+'/'+${team.id}}"><i class="bi bi-plus-circle-fill"></i></a>
							</li>
						</ul>
					</div>
				</div>
				<div th:unless="${presidents}">
					<h6 style="color: white;">Non ci sono presidenti nel sistema</h6>
				</div>
               <div class="btn-container">
				   <button type="submit" class="btn">Modifica</button>
			   </div>
			   <span class="danger" th:if="${newTeamError}" th:text="${newTeamError}"></span>
            </form>
		</div>
	</div>
	
	
	<!-- SE L'UTENTE NON E' LOGGATO -->
	<div class="main-container" th:unless="${userDetails}">
		<h1 style="color: white;">Effettua il login per vedere i contenuti del sito</h1>
	</div>

</body>
</html>
