<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Federazione Sport</title>
    <link rel="stylesheet" href="/css/myTeam.css" />
    <link rel="stylesheet" href="/css/shared.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Teko:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-color">
    <a class="navbar-brand" href="/">FederazioneSport</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item" th:if="${userDetails}"> <!-- se l'utente è loggato' -->
                <a class="nav-link" href="/allTeams">Squadre</a>
            </li>
             <li class="nav-item" th:if="${admin}"> <!-- se l'utente è admin-->
                <a class="nav-link" href="/admin/formNewTeam">Aggiungi Squadra</a>
            </li>
            <li class="nav-item" th:if="${president}"> <!-- se l'utente è presidente-->
                <a class="nav-link" href="/president/myTeam">La mia Squadra</a>
            </li>
            <li class="nav-item" th:if="${userDetails}"> <!-- se l'utente è loggato-->
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            <li class="nav-item" th:unless="${userDetails}"> <!-- se l'utente non è loggato' -->
                <a class="nav-link" href="/login">Login</a>
            </li>
        </ul>
    </div>
</nav>
<body>
	<!-- SE L'UTENTE E' LOGGATO -->
	<div class="main-container" th:if="${userDetails}">
		<div th:if="${myTeam}" class="team-container">
			<h1 th:text="${myTeam.name}" id="title"></h1>
			<h3 class="label">Anno di fondazione: <span th:text="${myTeam.foundingYear}"></span></h3>
			<h3 class="label">Indirizzo sede: <span th:text="${myTeam.address}"></span></h3>
			<div>
				<h3 class="label">Giocatori:</h3>
				<div th:if="${!myTeam.players.isEmpty()}" class="table-container">
					<table>
						  <tr>
						    <th style=" color: rgb(221, 239, 114);">Nome</th>
						    <th style=" color: rgb(221, 239, 114);">Cognome</th>
						    <th style=" color: rgb(221, 239, 114);">Ruolo</th>
						    <th style=" color: rgb(221, 239, 114);">Data di Nascita</th>
						    <th style=" color: rgb(221, 239, 114);">Inizio Tesseramento</th>
						    <th style=" color: rgb(221, 239, 114);">Fine Tesseramento</th>
						    <th style=" color: rgb(221, 239, 114);">Azioni</th>
						  </tr>
						  <tr th:each="player : ${myTeam.players}">
						    <td style="color: #b0aeae!important;" th:text="${player.name}">Francesco</td>
						    <td style="color: #b0aeae!important;"  th:text="${player.lastname}">Totti</td>
						    <td style="color: #b0aeae!important;" th:text="${player.role}">Attaccante</td>
						    <td style="color: #b0aeae!important;" th:text="${player.dateOfBirth}">09-09-1996</td>
						    <td style="color: #b0aeae!important;" th:text="${player.startDate}">10-10-2022</td>
						    <td style="color: #b0aeae!important;" th:text="${player.endDate}">11-10-2023</td>
						    <td>
								<a th:href="@{'/president/deletePlayer/'+ ${myTeam.id}+'/'+${player.id}}" style=" width: 30%;" class="remove"><i
								class="bi bi-x-circle-fill"></i></a>
							</td>
						  </tr>
						  
						</table>
				</div>
				<div th:if="${myTeam.players.isEmpty()}">
					<h5 style="color: #b0aeae!important; text-align: center;">La squadra non ha giocatori</h5>
				</div>
			</div>
			<div class="playerForm-container">
				<form  th:action="@{/president/newPlayer}" method="POST">
				<h1 style="color: rgb(221, 239, 114)!important; text-align: center;">Aggiungi un nuovo giocatore:</h1>
				
				<label style="font-weight: bolder;">Nome:</label>
                <input type="text" th:field="${player.name}" class="input-text form-control">
                <p th:if="${#fields.hasErrors('player.name')}" th:errors="${player.name}" th:style="'color:red'"></p>
                
                <label style="font-weight: bolder;">Cognome:</label>
                <input type="text" th:field="${player.lastname}" class="input-text form-control">
                <p th:if="${#fields.hasErrors('player.lastname')}" th:errors="${player.lastname}" th:style="'color:red'"></p>
                
                <label style="font-weight: bolder;">Ruolo:</label>
                <input type="text" th:field="${player.role}" class="input-text form-control">
                <p th:if="${#fields.hasErrors('player.role')}" th:errors="${player.role}" th:style="'color:red'"></p>
                
                <label style="font-weight: bolder;">Data di nascita:</label>
               	<input type="date" class="input-text form-control" th:field="${player.dateOfBirth}"/>
               	
               	<h2 style="color: rgb(221, 239, 114)!important; text-align: center;">Inserisci tesseramento con la Squadra</h2>
               	
               	<label style="font-weight: bolder;">Inizio Tesseramento:</label>
               	<input type="date" class="input-text form-control" th:field="${player.startDate}"/>
               	<p th:if="${playerError}" th:text="${playerError}" th:style="'color:red'"></p>
               
               	<label style="font-weight: bolder;">Fine Tesseramento:</label>
               	<input type="date" class="input-text form-control" th:field="${player.endDate}"/>
               	<p th:if="${playerError}" th:text="${playerError}" th:style="'color:red'"></p>
               	
               <div class="btn-container">
				   <button type="submit" class="btn">Aggiungi</button>
			   </div>
			  
            </form>
			</div>
			<h1 style="margin: 3% 0%;" id="title">Aggiungi giocatori già esistenti</h1>
			<div th:if="${players}" class="player-container">
				<div th:each="player : ${players}" class="player-info-container">
					<div style="width: 80%; margin-bottom: -7%;">
						<p class="label">Nome: <span th:text="${player.name}"></span></p>
						<p class="label">Cognome: <span th:text="${player.lastname}"></span></p>
						<p class="label">Roulo: <span th:text="${player.role}"></span></p>
					</div>
					<div style="width: 20%; margin-top: 22%;">
						<a th:href="@{'/president/addPlayer/'+${player.id}}"><i
								class="bi bi-plus-circle-fill"></i></a>
					</div>
				</div>
			</div>
			<div th:if="${players.isEmpty()}">
				<h3 class="message-players">Non ci sono giocatori disponibili nel sistema</h3>
			</div>
			
			
		</div>
		<div th:if="${noTeam}">
			<h1 style="color: white;">Non hai nessuna squadra assegnata</h1>
		</div>
	</div>
	
	
	<!-- SE L'UTENTE NON E' LOGGATO -->
	<div class="main-container" th:unless="${userDetails}">
		<h1 style="color: white;">Effettua il login per vedere i contenuti del sito</h1>
	</div>

</body>
</html>
