
body{
	font-family: 'Teko', sans-serif!important;
}

.container-bg{
	background-image: url("../images/volleyball.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0.5rem;
	height: 500px;
	padding-top: 8%;
	padding-right: 3%;
}


.container-bg-logged{
	background-image: url("../images/bg-index.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0.5rem;
	height: 500px;
	padding-top: 3%;
	padding-right: 3%;
}

.title-logged{
	    font-size: 6rem;
    	font-weight: bolder;
    	color: black!important;
    	margin-bottom: -7%;
}

.subtitle{
	margin-top: 4%;
	margin-bottom:7%;
	font-size: 1.7rem;
	margin-left: 2%;
	color: rgb(221, 239, 114);
}

.container-text{
	margin-left: 60%;
	
}

.container-neon-component{
	display: flex;
	flex-direction: row;
}


.column-bg{
	/*background-color: rgba(255, 255, 255, 0.725);*/
	background-color: #0000008c;
	margin-left: 60%;
	color: #c4c1c1;
	padding: 2%;
	border-radius: 0.5rem;
	 
}

