/*NAV e BODY*/
nav{
    box-shadow: 0px 0px 8px black;
}

.bg-color{
	opacity: 1!important;
	background-color: rgb(53, 55, 55)!important;
}

.navbar{
    padding-left: 2%!important;
     max-height: 110px;
     padding-right: 2.5%!important;
}


.navbar-brand{
    font-size: 30px!important;
    color: rgb(221, 239, 114)!important;
    margin-top: 0.5%;
    font-weight: bold;
}

.navbar-collapse{
    display: flex;
    justify-content: flex-end;
    font-size: 20px!important;
    padding-right: 2%;
}

.nav-item{
	margin-right: 10%;
}

body{
    font-family: 'Teko', sans-serif!important;
    background-color: rgb(53 55 55 / 55%)!important;
}


.main-container{
    padding-top: 3%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5%;
}



/*BOTTONI*/

.btn-container{
	display: flex;
	justify-content: center;
	margin-top: 3%;
}


.btn{
    background-color: rgb(221, 239, 114)!important;
    box-shadow: 0px 0px 8px 0px black;
    border-radius: 15px 15px 0;
    color: black!important;
    margin-left: 5%;
}



.icon{
	border-radius: 2rem;
	width: 11.5%;
	background-color: rgb(221, 239, 114)!important;
	margin: 1%;
	padding: 2%;
	padding-bottom: 3%;
	padding-left: 3.5%;
	
}

.icon:hover{
	background-color: black!important;
	/*border: lightgrey;*/
}

i:hover{
	color: white;
}

i{
	color: black;
	text-decoration: none;
	
}

/*GESTIONE FORM*/

.form-container{
    width: 55%;
    margin-left: 46.5%;
    margin-top: -3.9%;
    margin-bottom: -6.4%;
}

form{
	 display: flex;
	 flex-direction: column;
	 border-radius: 1rem;
	 background-color: rgb(47, 47, 48);
	 padding: 7% 4%;
	 width: 100%;
	 /*width: 40%;
	 margin: 5%;
	 margin-left: 30%;
	 margin-right: 5%;*/
		
}

label{
	color: #b0aeae!important;
}

.input-text{
	background: rgb(53, 55, 55)!important;
  	color: white!important;
  	border-radius: 10pt!important;
  	height: 40px;
  	border-color: rgb(63, 63, 63)!important;
  	margin-bottom: 2%;
	
}

.input-select{
	border-radius: 10pt!important;
  	height: 40px!important;
  	background: rgb(53, 55, 55)!important;
	border-color: rgb(63, 63, 63)!important;
	margin-bottom: 2%!important;
	margin-left: 2%;
	padding: 0.5%;
	text-align: center;
	width: 6%;
}


/*MESSAGGI*/

.danger {
    background-color: rgb(169 23 11 / 54%);
    border-radius: 1em;
    padding: 2%;
    margin-top: 6%!important;
    color: white;
    font-weight: bolder;

}








